 :root {
     --clr-primary: #393943;
     --clr-secondary: #F2F2F3;
     --clr-accent: #24acdc;
 }

.heading {
    margin: 0;
}

.date {
    display: inline-block;
    background: lightsteelblue;
    border-radius: 10px;
    margin-block: 1rem;
    padding: 0.5rem 2rem;
}

.boxs {
    margin-bottom: 3em ;
}

.box {
    border: 1px solid var(--clr-primary);
    background-color: rgb(200, 200, 200) ;
    color: var(--clr-primary);
    border-radius: 25px;
    padding: 1em;
    position: relative;
    transition: .3s;
    height: 150px;
}

.top {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    align-items: center;
    line-height: 20px;
}

.top i {
    padding: 5px;
    font-size: 1.5em;
    color: var(--clr-accent);
}

.bottom {
    font-size: 3em;
}

.nonAccess{
    text-decoration: none;
    color: var(--clr-primary);
}
.nonAccess:hover > .box{
    box-shadow: -8px 6px 26px -19px rgba(0, 0, 0, 0.7);
    background-color: rgb(167, 167, 167);
    transform: scale(1.01);
}
.pagination {
    
    margin-inline: auto;
}